In [1]:
import pandas as pd
import numpy as np

dict_obj = {'key1' : ['a', 'b', 'a', 'b', 
                      'a', 'b', 'a', 'a'],
            'key2' : ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
            'data1': [np.random.randint(1,10) for i in range(8)],
            'data2': [np.random.randint(1,10) for i in range(8)]}
df_obj = pd.DataFrame(dict_obj)
print(df_obj)

  key1   key2  data1  data2
0    a    one      3      4
1    b    one      3      1
2    a    two      9      5
3    b  three      3      6
4    a    two      6      9
5    b    two      9      6
6    a    one      3      4
7    a  three      8      3

In [2]:
df_obj.groupby('key1')

In [3]:
df_obj.groupby('key1').mean(numeric_only=True)

      data1     data2
key1
a       5.8  5.000000
b       5.0  4.333333

In [4]:
df_obj['data1'].groupby(df_obj['key1']).mean()

key1
a    5.8
b    5.0
Name: data1, dtype: float64

In [5]:
print(df_obj.groupby('key1').describe())

     data1                                         data2                      \
     count mean       std  min  25%  50%  75%  max count      mean       std
key1
a      5.0  5.8  2.774887  3.0  3.0  6.0  8.0  9.0   5.0  5.000000  2.345208
b      3.0  5.0  3.464102  3.0  3.0  3.0  6.0  9.0   3.0  4.333333  2.886751


      min  25%  50%  75%  max
key1
a     3.0  4.0  4.0  5.0  9.0
b     1.0  3.5  6.0  6.0  6.0

In [6]:
def peak_range(df):
    return df.max() - df.min()

print(df_obj.loc[:, ['key1','data1', 'data2']].groupby('key1').agg(peak_range))
print(df_obj.loc[:, ['key1','data1', 'data2']].groupby('key1').agg(lambda df : df.max() - df.min()))

      data1  data2
key1
a         6      6
b         6      5
      data1  data2
key1
a         6      6
b         6      5

In [7]:
print(df_obj.loc[:, ['key1','data1', 'data2']].groupby('key1').agg(['mean', 'std', 'count', peak_range]))

     data1                                data2
      mean       std count peak_range      mean       std count peak_range
key1
a      5.8  2.774887     5          6  5.000000  2.345208     5          6
b      5.0  3.464102     3          6  4.333333  2.886751     3          5

In [8]:
file_path = "./starbucks_store_worldwide.csv"

df = pd.read_csv(file_path)
print(df.head(1))
print(df.info())

       Brand  Store Number     Store Name Ownership Type     Street Address  \
0  Starbucks  47370-257954  Meritxell, 96       Licensed  Av. Meritxell, 96

               City State/Province Country Postcode Phone Number  \
0  Andorra la Vella              7      AD    AD500    376818720

                  Timezone  Longitude  Latitude
0  GMT+1:00 Europe/Andorra       1.53     42.51
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25600 entries, 0 to 25599
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           25600 non-null  object
 1   Store Number    25600 non-null  object
 2   Store Name      25600 non-null  object
 3   Ownership Type  25600 non-null  object
 4   Street Address  25598 non-null  object
 5   City            25585 non-null  object
 6   State/Province  25600 non-null  object
 7   Country         25600 non-null  object
 8   Postcode        24078 non-null  object
 9   Phone Number    18739 non-null  object
 10  Timezone        25600 non-null  object
 11  Longitude       25599 non-null  float64
 12  Latitude        25599 non-null  float64
dtypes: float64(2), object(11)
memory usage: 2.5+ MB
None

In [13]:
grouped = df.groupby(by="Country")
grouped['Brand'].count().loc['CN']

np.int64(2734)

In [12]:
grouped['Brand'].count().loc['US']

np.int64(13608)